@import "base/_fonts";
@import "base/_main-variables";
@import "modules/_header";
@import "modules/_wellcome-section";
@import "modules/_services-section";
@import "base/_column-widths";
@import "modules/_general";
@import "modules/_about-us";
@import "modules/_latest-works-section";
@import "modules/_get-in-touch-link-section";
@import "modules/_recent-blog-posts";
@import "modules/_partners-section";
@import "modules/_get-in-touch-section";
@import "modules/_to-top-button";
@import "modules/_footer";

@html-body-height: 100%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: @html-body-height;
}