@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/RobotoSlab-SemiBold.ttf") format('truetype');
}
body {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 24px;
  color: black;
}
.welcome-section {
  background-color: #681d17;
  width: 100%;
  height: 100vh;
}
.welcome-section-body {
  background-image: url('../img/bg_770.jpg');
  background-position: top;
  background-color: #681d17;
  height: calc(100vh - 55px);
  padding-top: calc(calc(100vh - 55px) / 5);
}
.content-box {
  margin: 0 auto;
  max-width: 1200px;
}
.header {
  height: 55px;
  max-height: 100px;
  background-color: #6d2728;
}
.header .logo {
  visibility: hidden;
}
.header .logo a {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.menu {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.menu-toggle {
  opacity: 0;
}
.menu-toggle:checked ~ .menu-box {
  visibility: visible;
  right: 0;
}
.menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
.menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.menu-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  right: -100%;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #6d2728;
  transition-duration: 0.25s;
}
.menu-box hr {
  margin-top: -25px;
  margin-bottom: 40px;
  border-top: 1px solid white;
}
.menu-box ul {
  list-style: none;
}
.menu-item {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: white;
}
.menu-item:active {
  color: #660000;
  background-color: white;
}
.greeting {
  text-align: center;
  color: white;
  margin: 0 15px;
}
.greeting h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 38px;
  color: white;
}
.greeting h4 {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 16px;
  color: white;
  margin-top: 55px;
}
.button {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  margin: 60px auto;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 35px;
}
.button:active {
  color: #660000;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .menu-item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: white;
    float: left;
    padding: 5px 3px;
    text-decoration: none;
    margin-right: 4%;
  }
  .menu-item:hover {
    border-bottom: 2px solid white;
  }
  .menu-item:active {
    border-top: 2px solid white;
    background-color: transparent;
    color: white;
  }
  .menu-box {
    position: static;
    visibility: visible;
    right: 0;
    transition-duration: 0s;
    background-color: transparent;
    padding: 0;
    margin: 40px 0 0 auto;
    max-width: 530px;
  }
  .menu-box ul {
    display: flex;
    justify-content: space-between;
  }
  .menu-box hr {
    display: none;
  }
  .welcome-section {
    background-image: url('../img/bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 40px;
  }
  .welcome-section-body {
    background-image: none;
    background-color: transparent;
    height: calc(100vh - 100px);
    padding-top: calc(calc(100vh - 100px) / 3);
  }
  .greeting h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    color: white;
  }
  .greeting h4 {
    margin-top: 20px;
    font-size: 20px;
  }
  .button {
    font-weight: 600;
  }
  .button:hover {
    color: #660000;
    background-color: white;
    transition-duration: 0.25s;
  }
  .header {
    display: flex;
    height: 100px;
    background-color: transparent;
  }
  .header .logo {
    visibility: visible;
    text-align: left;
    margin: 40px 0 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-box ul {
    width: 530px;
    float: right;
  }
}
.services-section {
  height: auto;
  text-align: center;
  padding: 70px 20px 0;
}
.services-section .cards {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: 30px 20px;
}
.card-content a {
  text-decoration: none;
}
.card-content a h5 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #555555;
  margin: 10px 0 20px;
}
.card-content p {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
}
.card-icon {
  display: block;
  height: 90px;
  width: 90px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #dddddd;
  margin: 0 auto;
}
.card:nth-child(1) > .card-icon {
  background-position: 21px 19px;
}
.card:nth-child(1) > .card-icon:active {
  background-color: #c0301c;
  background-position: 21px -88px;
}
.card:nth-child(2) > .card-icon {
  background-position: -94px 19px;
}
.card:nth-child(2) > .card-icon:active {
  background-color: #c0301c;
  background-position: -94px -88px;
}
.card:nth-child(3) > .card-icon {
  background-position: -210px 19px;
}
.card:nth-child(3) > .card-icon:active {
  background-color: #c0301c;
  background-position: -210px -88px;
}
@media only screen and (min-width: 768px) {
  .services-section {
    padding: 70px 40px 0;
  }
  .card .card-content h5 {
    margin: 25px 0 30px;
  }
  .card:nth-child(1) > .card-icon:hover {
    background-color: #c0301c;
    background-position: 21px -88px;
  }
  .card:nth-child(2) {
    order: 3;
  }
  .card:nth-child(2) > .card-icon:hover {
    background-color: #c0301c;
    background-position: -94px -88px;
  }
  .card:nth-child(3) {
    order: 2;
  }
  .card:nth-child(3) > .card-icon:hover {
    background-color: #c0301c;
    background-position: -210px -88px;
  }
}
@media only screen and (min-width: 1024px) {
  .services-section .cards {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
  }
  .card {
    margin-top: 0;
  }
  .card .card-content a h5 {
    margin: 30px 0 25px;
  }
  .card:nth-child(2) {
    order: 2;
  }
  .card:nth-child(3) {
    order: 3;
  }
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
.section-header {
  text-align: center;
}
.section-header h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #555555;
}
.section-header hr {
  margin: 30px auto;
  width: 50px;
  color: #555555;
}
.section-header h6 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.about-us-section {
  height: auto;
  padding: 70px 20px;
}
.about-us-section .about-us-content {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
}
.about-us-section .about-us-content p {
  margin: 50px 0 0;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .about-us-section {
    padding: 70px 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*# sourceMappingURL=mainstyles.css.map */