@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/RobotoSlab-SemiBold.ttf") format('truetype');
}
body {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 24px;
  color: black;
}
header {
  position: fixed;
  top: 0;
  height: 55px;
  max-height: 100px;
  background-color: #6d2728;
  padding: 0 40px;
  z-index: 100;
}
header .content-box .logo {
  visibility: hidden;
}
header .content-box .logo a {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
header .content-box .menu {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: white;
}
header .content-box .menu .menu-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 101;
}
header .content-box .menu .menu-button > span,
header .content-box .menu .menu-button > span::before,
header .content-box .menu .menu-button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: 0.3s;
}
header .content-box .menu .menu-button > span::before {
  content: '';
  top: -8px;
}
header .content-box .menu .menu-button > span::after {
  content: '';
  top: 8px;
}
header .content-box .menu .menu-button-clicked > span {
  transform: rotate(45deg);
}
header .content-box .menu .menu-button-clicked > span::before {
  top: 0;
  transform: rotate(0deg);
}
header .content-box .menu .menu-button-clicked > span::after {
  top: 0;
  transform: rotate(90deg);
}
header .content-box .menu .menu-box {
  overflow: hidden;
  display: block;
  position: fixed;
  visibility: hidden;
  right: -100%;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #6d2728;
  transition-duration: 0.25s;
}
header .content-box .menu .menu-box hr {
  margin-top: -25px;
  margin-bottom: 40px;
  border-top: 1px solid white;
}
header .content-box .menu .menu-box ul {
  list-style: none;
}
header .content-box .menu .menu-box ul .menu-item {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: white;
}
header .content-box .menu .menu-box ul .menu-item:active {
  color: #660000;
  background-color: white;
}
header .content-box .menu .menu-box-open {
  visibility: visible;
  right: 0;
}
@media only screen and (min-width: 768px) {
  header {
    height: 100px;
    background-color: transparent;
    position: absolute;
  }
  header .content-box {
    display: flex;
  }
  header .content-box .logo {
    visibility: visible;
    text-align: left;
    margin: 40px 0 0 0;
  }
  header .content-box .menu .menu-button {
    display: none;
  }
  header .content-box .menu .menu-box {
    position: static;
    visibility: visible;
    right: 0;
    transition-duration: 0s;
    background-color: transparent;
    padding: 0;
    margin: 40px 0 0 auto;
    max-width: 530px;
  }
  header .content-box .menu .menu-box ul {
    display: flex;
    justify-content: space-between;
  }
  header .content-box .menu .menu-box ul .menu-item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: white;
    float: left;
    padding: 5px 3px;
    text-decoration: none;
    margin-right: 4%;
  }
  header .content-box .menu .menu-box ul .menu-item:hover {
    border-bottom: 2px solid white;
  }
  header .content-box .menu .menu-box ul .menu-item:active {
    border-top: 2px solid white;
    background-color: transparent;
    color: white;
  }
  header .content-box .menu .menu-box hr {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  header .content-box .menu .menu-box ul {
    width: 530px;
    float: right;
  }
}
.body-scroll-locked {
  overflow: hidden;
}
.welcome-section {
  background-color: #681d17;
  width: 100%;
  height: 100vh;
  margin-top: 55px;
}
.welcome-section-body {
  background-image: url('../img/bg_770.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #681d17;
  height: calc(100vh - 55px);
  padding-top: calc(calc(100vh - 55px) / 5);
}
.welcome-section-body .greeting {
  text-align: center;
  color: white;
  margin: 0 15px;
}
.welcome-section-body .greeting .button {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 35px;
  transition-duration: 0.25s;
  margin-top: 60px;
}
.welcome-section-body .greeting .button:active {
  color: #990000;
  background-color: white;
}
.welcome-section-body .greeting .button:hover {
  color: #990000;
  background-color: white;
}
.welcome-section-body .greeting .button:focus {
  outline: none;
}
.welcome-section-body .greeting h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 38px;
  color: white;
}
.welcome-section-body .greeting h4 {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 16px;
  color: white;
  margin-top: 55px;
}
@media only screen and (min-width: 768px) {
  .welcome-section {
    background-image: url('../img/bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 40px;
    margin: 0;
  }
  .welcome-section-body {
    background-image: none;
    background-color: transparent;
    height: calc(100vh - 55px);
    padding-top: calc(calc(100vh - 55px) / 3);
  }
  .greeting h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    color: white;
  }
  .greeting h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}
.services-section {
  height: auto;
  text-align: center;
  padding: 70px 20px 0;
}
.services-section .cards {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: 30px 20px;
}
.card-content a {
  text-decoration: none;
}
.card-content a h5 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #555555;
  margin: 10px 0 20px;
}
.card-content p {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
}
.card-icon {
  display: block;
  height: 90px;
  width: 90px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #dddddd;
  margin: 0 auto;
}
.card-icon:active {
  background-color: #c0301c;
}
.card:nth-child(1) > .card-icon {
  background-position: 21px 19px;
}
.card:nth-child(1) > .card-icon:active {
  background-position: 21px -88px;
}
.card:nth-child(2) > .card-icon {
  background-position: -94px 19px;
}
.card:nth-child(2) > .card-icon:active {
  background-position: -94px -88px;
}
.card:nth-child(3) > .card-icon {
  background-position: -210px 19px;
}
.card:nth-child(3) > .card-icon:active {
  background-position: -210px -88px;
}
@media only screen and (min-width: 768px) {
  .services-section {
    padding: 70px 40px 0;
  }
  .card .card-content h5 {
    margin: 25px 0 30px;
  }
  .card .card-icon:hover {
    background-color: #c0301c;
  }
  .card:nth-child(1) > .card-icon:hover {
    background-position: 21px -88px;
  }
  .card:nth-child(2) {
    order: 3;
  }
  .card:nth-child(2) > .card-icon:hover {
    background-position: -94px -88px;
  }
  .card:nth-child(3) {
    order: 2;
  }
  .card:nth-child(3) > .card-icon:hover {
    background-position: -210px -88px;
  }
}
@media only screen and (min-width: 1024px) {
  .services-section .cards {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
  }
  .card {
    margin-top: 0;
  }
  .card .card-content a h5 {
    margin: 30px 0 25px;
  }
  .card:nth-child(2) {
    order: 2;
  }
  .card:nth-child(3) {
    order: 3;
  }
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
.section-header {
  text-align: center;
}
.section-header h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #555555;
}
.section-header hr {
  margin: 30px auto;
  width: 50px;
  color: #555555;
  border: 1px solid #555555;
}
.section-header h6 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.section-header ul {
  list-style: none;
}
.section-header ul li a {
  text-decoration: none;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 16px;
  color: #555555;
}
.content-box {
  margin: 0 auto;
  max-width: 1200px;
}
.about-us-section {
  height: auto;
  padding: 70px 20px;
}
.about-us-section .about-us-content .about-us-paragraph {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
}
.about-us-section .about-us-content .about-us-paragraph p {
  margin: 50px 0 0;
  text-align: justify;
}
.about-us-section .about-us-content .stuff-slider {
  position: relative;
  margin: 50px 0 0;
  width: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.about-us-section .about-us-content .stuff-slider .slider-item {
  width: 90%;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box {
  position: relative;
  background-color: #555555;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box img {
  transition-duration: 0.3s;
  display: block;
  width: 100%;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons {
  position: absolute;
  display: flex;
  z-index: -1;
  bottom: 15%;
  left: 50%;
  margin-left: -60px;
  transition-duration: 0.3s;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons a {
  display: block;
  background-image: url("../img/icons_2.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons .facebook-icon {
  background-position: 11px 6px;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons .twitter-icon {
  background-position: -20px 6px;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons .google-plus-icon {
  background-position: -50px 6px;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box .slider-item-icons .linkedin-icon {
  background-position: -82px 6px;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box:hover img {
  opacity: 0.5;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box:hover .slider-item-icons {
  z-index: 1;
}
.about-us-section .about-us-content .stuff-slider .slider-item .slider-item-image-box:hover .slider-item-icons a:hover {
  transition-duration: 0.3s;
  background-color: #c0301c;
}
.about-us-section .about-us-content .stuff-slider .slider-item h6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  color: #555555;
  margin: 10px 0;
}
.about-us-section .about-us-content .stuff-slider .slider-item p {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 13px;
  color: #555555;
}
.about-us-section .about-us-content .stuff-slider .slider-item:nth-of-type(-n+4) {
  display: none;
}
.about-us-section .about-us-content .stuff-slider .slider-item:nth-of-type(1) {
  display: block;
}
.about-us-section .about-us-content .stuff-slider [class*="arrow-"] {
  height: 38px;
  width: 35px;
  position: absolute;
  top: 32%;
  z-index: 1;
  background-color: #555555;
  background-image: url("../img/arrows.png");
  background-repeat: no-repeat;
}
.about-us-section .about-us-content .stuff-slider .arrow-left {
  background-position: 13px 12px;
  left: 0;
}
.about-us-section .about-us-content .stuff-slider .arrow-right {
  right: 0;
  background-position: -16px 12px;
}
.about-us-section .about-us-content .stuff-slider [class*="arrow-"]:active {
  background-color: #c0301c;
}
@media only screen and (min-width: 500px) {
  .about-us-section .about-us-content .stuff-slider .slider-item {
    width: 45%;
  }
  .about-us-section .about-us-content .stuff-slider .slider-item:nth-of-type(-n+2) {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .about-us-section {
    padding: 70px 40px;
  }
  .about-us-section .about-us-content .about-us-paragraph {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us-section .about-us-content .about-us-paragraph p {
    width: 48.7%;
  }
  .about-us-section .about-us-content .stuff-slider {
    justify-content: space-between;
  }
  .about-us-section .about-us-content .stuff-slider [class*="arrow-"]:hover {
    background-color: #c0301c;
  }
  .about-us-section .about-us-content .stuff-slider .slider-item {
    width: 31%;
  }
  .about-us-section .about-us-content .stuff-slider .slider-item:nth-of-type(-n+3) {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .about-us-section .about-us-content .stuff-slider {
    justify-content: space-between;
  }
  .about-us-section .about-us-content .stuff-slider .slider-item {
    width: 23%;
  }
  .about-us-section .about-us-content .stuff-slider .slider-item:nth-of-type(-n+4) {
    display: block;
  }
}
.latest-works-section {
  padding: 70px 0;
}
.latest-works-section .latest-works-filters {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}
.latest-works-section .latest-works-filters .filter {
  text-align: center;
  display: block;
  padding: 0 15px;
}
.latest-works-section .latest-works-filters .filter a:active {
  color: #c0301c;
}
.latest-works-section .content-box {
  margin-top: 30px;
}
.latest-works-section .content-box .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.latest-works-section .content-box .gallery .gallery-item-box {
  width: calc(50% - 30px);
  margin: 15px;
}
.latest-works-section .content-box .gallery .gallery-item-box .gallery-item {
  position: relative;
  background-color: #c0301c;
}
.latest-works-section .content-box .gallery .gallery-item-box .gallery-item img {
  display: block;
  width: 100%;
  transition-duration: 0.3s;
}
.latest-works-section .content-box .gallery .gallery-item-box .gallery-item .work-info {
  text-align: center;
  position: absolute;
  visibility: hidden;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .latest-works-section .latest-works-filters .filter a:hover {
    color: #c0301c;
    cursor: pointer;
  }
  .latest-works-section .content-box .gallery {
    justify-content: center;
    margin: -15px -15px;
  }
  .latest-works-section .content-box .gallery .gallery-item-box {
    width: calc(33.33% - 30px);
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item .work-info .name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: white;
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item .work-info .type {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 12px;
    color: white;
    margin: 15px 0 25px;
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item .work-info .view-button {
    display: block;
    width: 100px;
    height: 38px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    background-position: 68px 13px;
    background-image: url("../img/arrows_1.png");
    background-size: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 14px;
    color: #c0301c;
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item .work-info .view-button:hover {
    padding: 10px 25px 0 0;
    background-size: auto;
    background-position: 75px 13px;
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item:hover img {
    opacity: 0.3;
  }
  .latest-works-section .content-box .gallery .gallery-item-box .gallery-item:hover .work-info {
    z-index: 1;
    visibility: visible;
  }
}
.get-in-touch-link-section .link-background {
  height: 369px;
  position: relative;
  overflow: hidden;
  background: #c0301c;
}
.get-in-touch-link-section .link-background img {
  position: relative;
  display: block;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.get-in-touch-link-section .link-background div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.get-in-touch-link-section .link-background div h3 {
  max-width: 80%;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 30px;
  color: white;
}
.get-in-touch-link-section .link-background div .button {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 35px;
  transition-duration: 0.25s;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 18px;
  color: white;
}
.get-in-touch-link-section .link-background div .button:active {
  color: #d3927c;
  background-color: white;
}
.get-in-touch-link-section .link-background div .button:hover {
  color: #d3927c;
  background-color: white;
}
.get-in-touch-link-section .link-background div .button:focus {
  outline: none;
}
.get-in-touch-link-section .link-background div .button:active {
  color: #d3927c;
}
@media only screen and (min-width: 768px) {
  .get-in-touch-link-section .link-background div h3 {
    width: 460px;
  }
  .get-in-touch-link-section .link-background div .button:hover {
    color: #d3927c;
  }
}
.recent-blog-posts-section {
  margin: 100px auto;
}
.recent-blog-posts-section .blog {
  padding: 0 20px 95px;
}
.recent-blog-posts-section .blog .post {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.recent-blog-posts-section .blog .post .post-image-box {
  display: none;
}
.recent-blog-posts-section .blog .post .post-body {
  width: calc(100% - 0% - 4%);
}
.recent-blog-posts-section .blog .post .post-body .post-title {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 75px 1fr;
  gap: 9px 30px;
}
.recent-blog-posts-section .blog .post .post-body .post-title .date-box {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #777777;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: #555555;
}
.recent-blog-posts-section .blog .post .post-body .post-title .date-box .day {
  display: block;
  letter-spacing: 2.4px;
}
.recent-blog-posts-section .blog .post .post-body .post-title .date-box .month {
  display: block;
  font-size: 14px;
  letter-spacing: 1.4px;
}
.recent-blog-posts-section .blog .post .post-body .post-title .title-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
  align-self: center;
}
.recent-blog-posts-section .blog .post .post-body .post-title .title-text:active {
  color: #c0301c;
}
.recent-blog-posts-section .blog .post .post-body .post-title .created-by {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  align-self: center;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 13px;
  color: #777777;
}
.recent-blog-posts-section .blog .post .post-body .post-title .created-by a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
.recent-blog-posts-section .blog .post .post-body .post-title .created-by a:active {
  color: #c0301c;
}
.recent-blog-posts-section .blog .post .post-body .post-description {
  margin: 25px 0 0;
}
.recent-blog-posts-section .blog .post .post-body .post-description .post-description-text {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
  margin: 0 0 20px;
}
.recent-blog-posts-section .blog .post .post-body .post-description .read-more {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 13px;
  color: #777777;
  margin: 0;
}
.recent-blog-posts-section .blog .post .post-body .post-description .read-more:active {
  color: #c0301c;
}
.recent-blog-posts-section .blog hr {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .recent-blog-posts-section .blog .post .post-body .post-title {
    grid-template-rows: minmax(33px, max-content) 33px;
  }
  .recent-blog-posts-section .blog .post .post-body .post-title .date-box {
    grid-row: 1 / 3;
  }
  .recent-blog-posts-section .blog .post .post-body .post-title .title-text {
    align-self: end;
  }
  .recent-blog-posts-section .blog .post .post-body .post-title .title-text:hover {
    cursor: pointer;
    color: #c0301c;
  }
  .recent-blog-posts-section .blog .post .post-body .post-title .created-by {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: start;
  }
  .recent-blog-posts-section .blog .post .post-body .post-title .created-by a:hover {
    cursor: pointer;
    color: #c0301c;
  }
  .recent-blog-posts-section .blog .post .post-body .post-description .read-more:hover {
    cursor: pointer;
    color: #c0301c;
  }
}
@media only screen and (min-width: 1024px) {
  .recent-blog-posts-section .blog .post .post-image-box {
    display: block;
    width: 42%;
    align-self: center;
  }
  .recent-blog-posts-section .blog .post .post-image-box img {
    display: block;
    width: 100%;
    margin: auto;
  }
  .recent-blog-posts-section .blog .post .post-body {
    width: calc(100% - 42% - 4%);
  }
}
.partners-section {
  margin: 100px auto;
}
.partners-section .content-box .partners-logos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
}
.partners-section .content-box .partners-logos .partner-logo {
  width: 160px;
  height: 52px;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(1) {
  background: url("../img/logo1.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(1):active {
  background: url("../img/logo-1.png") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(2) {
  background: url("../img/logo2.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(2):active {
  background: url("../img/logo-2.png") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(3) {
  display: none;
  background: url("../img/logo3.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(3):active {
  background: url("../img/logo-3.png") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(4) {
  display: none;
  background: url("../img/logo4.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(4):active {
  background: url("../img/logo_4.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(5) {
  display: none;
  background: url("../img/logo5.jpg") no-repeat center;
}
.partners-section .content-box .partners-logos .partner-logo:nth-child(5):active {
  background: url("../img/logo_5.jpg") no-repeat center;
}
.partners-section .content-box .partners-text {
  display: none;
}
.partners-section .content-box .slider-radios {
  width: 160px;
  margin: 0 auto;
}
.partners-section .content-box .slider-radios .radios-group {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 20px;
  user-select: none;
}
.partners-section .content-box .slider-radios .radios-group input,
.partners-section .content-box .slider-radios .radios-group label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
.partners-section .content-box .slider-radios .radios-group label {
  display: inline-block;
  position: relative;
  width: calc(100% / 6);
  height: 100%;
  user-select: none;
}
.partners-section .content-box .slider-radios .radios-group label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: #dddddd;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.partners-section .content-box .slider-radios .radios-group label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
.partners-section .content-box .slider-radios .radios-group input {
  display: none;
}
.partners-section .content-box .slider-radios .radios-group input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
.partners-section .content-box .slider-radios .radios-group input:checked ~ .float-dot {
  opacity: 1;
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(1) ~ .float-dot {
  left: calc((1 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(3) ~ .float-dot {
  left: calc((3 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(5) ~ .float-dot {
  left: calc((5 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(7) ~ .float-dot {
  left: calc((7 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(9) ~ .float-dot {
  left: calc((9 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group input:checked:nth-child(11) ~ .float-dot {
  left: calc((11 * (100% / 6)) / 2);
}
.partners-section .content-box .slider-radios .radios-group .float-dot {
  display: block;
  position: absolute;
  top: 50%;
  width: 13px;
  height: 13px;
  background: #c0301c;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .partners-section .content-box .partners-logos {
    margin-bottom: 0;
  }
  .partners-section .content-box .partners-logos .partner-logo {
    width: 160px;
    height: 52px;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(1):hover {
    background: url("../img/logo-1.png") no-repeat center;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(2):hover {
    background: url("../img/logo-2.png") no-repeat center;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(3) {
    display: block;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(3):hover {
    background: url("../img/logo-3.png") no-repeat center;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(4):hover {
    background: url("../img/logo-4.png") no-repeat center;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(5):hover {
    background: url("../img/logo-5.png") no-repeat center;
  }
  .partners-section .content-box .partners-text {
    display: block;
    margin: 80px auto 30px;
    width: 60%;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 18px;
    color: #555555;
    line-height: 30px;
  }
  .partners-section .content-box .partners-text p {
    margin-top: 20px;
    font-size: 20px;
  }
  .partners-section .content-box .slider-radios .radios-group label:nth-child(8) {
    display: none;
  }
  .partners-section .content-box .slider-radios .radios-group label:nth-child(10) {
    display: none;
  }
  .partners-section .content-box .slider-radios .radios-group label:nth-child(12) {
    display: none;
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(1) ~ .float-dot {
    left: calc((1 * (100% / 3)) / 2);
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(3) ~ .float-dot {
    left: calc((3 * (100% / 3)) / 2);
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(5) ~ .float-dot {
    left: calc((5 * (100% / 3)) / 2);
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(7) ~ .float-dot {
    left: calc((7 * (100% / 3)) / 2);
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(9) ~ .float-dot {
    left: calc((9 * (100% / 3)) / 2);
  }
  .partners-section .content-box .slider-radios .radios-group input:checked:nth-child(11) ~ .float-dot {
    left: calc((11 * (100% / 3)) / 2);
  }
}
@media only screen and (min-width: 1024px) {
  .partners-section .content-box .partners-logos .partner-logo {
    width: 160px;
    height: 52px;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(4) {
    display: block;
  }
  .partners-section .content-box .partners-logos .partner-logo:nth-child(5) {
    display: block;
  }
}
.get-in-touch-section {
  padding: 70px 20px 0;
}
.get-in-touch-section-body {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}
.get-in-touch-section-body .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.get-in-touch-section-body .contacts .contact-set {
  display: grid;
  grid-template-rows: 30px 40px;
  grid-template-columns: 20px 1fr;
  gap: 0 5px;
  margin: 0 0 35px;
  max-width: 210px;
}
.get-in-touch-section-body .contacts .contact-set .contact-icon {
  height: 25px;
  background: url("../img/icons_4.png") no-repeat;
  grid-row: 1 / 3;
}
.get-in-touch-section-body .contacts .contact-set:nth-child(1) .contact-icon {
  background-position: 2px 0;
}
.get-in-touch-section-body .contacts .contact-set:nth-child(2) .contact-icon {
  background-position: 2px -28px;
}
.get-in-touch-section-body .contacts .contact-set:nth-child(3) .contact-icon {
  background-position: 2px -58px;
}
.get-in-touch-section-body .contacts .contact-set .contact-name {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
}
.get-in-touch-section-body .contacts .contact-set .contact {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 12px;
  color: #555555;
}
.get-in-touch-section-body .form-wrapper {
  margin: 0 auto;
}
.get-in-touch-section-body .form-wrapper form {
  display: grid;
  grid-auto-rows: 45px;
  gap: 20px 20px;
}
.get-in-touch-section-body .form-wrapper form input {
  padding: 15px;
  border: 1px solid #555555;
}
.get-in-touch-section-body .form-wrapper form input::placeholder {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 12px;
  color: #555555;
}
.get-in-touch-section-body .form-wrapper form input:focus {
  border-color: #c0301c;
  outline: none;
}
.get-in-touch-section-body .form-wrapper form input:focus::placeholder {
  color: transparent;
}
.get-in-touch-section-body .form-wrapper form textarea {
  grid-row: 5 / 7;
  padding: 15px;
  resize: none;
}
.get-in-touch-section-body .form-wrapper form textarea::placeholder {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 12px;
  color: #555555;
}
.get-in-touch-section-body .form-wrapper form textarea:focus {
  border-color: #c0301c;
  outline: none;
}
.get-in-touch-section-body .form-wrapper form textarea:focus::placeholder {
  color: transparent;
}
.get-in-touch-section-body .form-wrapper form div .submit-form {
  width: 60%;
  display: block;
  border: 1px solid #555555;
  background: none;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 12px;
  color: #555555;
  letter-spacing: 0.6px;
  transition-duration: 0.25s;
}
.get-in-touch-section-body .form-wrapper form div .submit-form:active {
  background: #c0301c;
  color: white;
  border-color: #c0301c;
}
.get-in-touch-section-body .form-wrapper form div .submit-form:hover {
  background: #c0301c;
  color: white;
  border-color: #c0301c;
}
@media only screen and (min-width: 768px) {
  .get-in-touch-section-body .contacts {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .get-in-touch-section-body {
    flex-direction: row;
    justify-content: space-between;
  }
  .get-in-touch-section-body .contacts {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
  }
  .get-in-touch-section-body .form-wrapper {
    margin: 0;
    width: 65%;
  }
  .get-in-touch-section-body .form-wrapper form {
    grid-template-columns: 1fr 1fr;
  }
  .get-in-touch-section-body .form-wrapper form textarea {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
  }
  .get-in-touch-section-body .form-wrapper form div {
    grid-row: 5 / 6;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*# sourceMappingURL=mainstyles.css.map */